<div class="flex flex-col flex-auto w-200 min-w-80 p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">More informations</div>
        <button
            matDialogClose
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
    </div>
    <div class="ml-4">
        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
            <!-- Title -->
            <ng-container>
                <div class="flex sm:items-center">
                    <mat-icon [svgIcon]="'heroicons_outline:briefcase'"></mat-icon>
                    <div class="ml-6 leading-6">Permissions</div>
                </div>
            </ng-container>


    </div>
    </div>

