<div class="flex flex-col flex-auto w-200 min-w-80 p-2 md:p-4">
    <!-- View mode -->
    <ng-container>
        <!-- Header -->
        <div class="flex items-center justify-between">
            <!-- Image -->
            <img src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-12.jpg" alt="Mission Image" class="w-32 h-auto mr-4">
            
            <!-- Prénom et Nom -->
            <div class="flex items-center">
                <div class="text-lg font-medium whitespace-nowrap text-xl" >{{intern.data.firstname}}</div>
                <div class="mx-2"></div> <!-- Espace au milieu -->
                <div class="text-lg font-medium whitespace-nowrap text-xl " >{{intern.data.lastname}}</div>
            </div>

            <!-- Bouton de fermeture -->
            <button matDialogClose mat-icon-button class="text-2xl">
                <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
            </button>
        </div>

        <!-- Contact -->
        <div class="flex items-center justify-between">
            <div class="w-full max-w-3xl">
                <!-- Contenu restant -->
                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Company -->
                    <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:clock'"></mat-icon>
                        <div class="ml-6 leading-6">  Commencement date {{intern.data.startDate}}</div>
                    </div>
                    <!-- University -->
                    <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
                        <div class="ml-6 leading-6">{{intern.data.university}}</div>
                    </div>
                    <!-- Email -->
                    <div class="flex">
                        <mat-icon [svgIcon]="'heroicons_outline:envelope'"></mat-icon>
                        <div class="min-w-0 ml-6 space-y-1">
                            <div class="flex items-center leading-6">
                                <a class="hover:underline text-primary-500" target="_blank">{{intern.data.email}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- Education Level -->
                    <div class="flex sm:items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">{{intern.data.educationLevel}}</span>
                    </div>
                </div>

                <!-- Bouton Annuler -->
                <div class="flex w-full mt-10 mx-auto py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 dark:bg-transparent">
                    <button class="flex-auto mat-button w-full" mat-flat-button [color]="'primary'" (click)="onCancel()">Annuler</button>
                </div>
            </div>
        </div>
    </ng-container>
</div>
