<div class="flex flex-col flex-auto w-200 min-w-80 p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold"> Add a new company !    </div>
        <button matDialogClose mat-icon-button   (click)="saveAndClose()">
           
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>
    <form
    class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
    [formGroup]="composeForm">

    <mat-form-field>
        <mat-label>Company Name</mat-label>
        <input
            matInput
            [formControlName]="'name'">
    </mat-form-field>

            

           
             <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">


            <div class="flex items-center mt-4 sm:mt-0">
                <!-- Discard -->
                <button
                    class="ml-auto mr-10 sm:ml-0"
                    mat-flat-button
                    [color]="'warn'"
                    (click)="onCancel()">
                    Discard
                </button>
                <!-- Send -->
                <button
                class="ml-auto   sm:ml-0"
                mat-flat-button
                    [color]="'primary'"
                    (click)="send()">
                    Send
                </button>

            </div>
        </div>
        </form>
    </div>

