:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
.custom-dialog {
    max-width: 500px;
    max-height: 300px; /* Ajustez la largeur selon vos besoins */
    /* Ajoutez d'autres styles si nécessaire pour ajuster la hauteur, la marge, etc. */
}
.green-icon {
    color: green; /* Définir la couleur de l'icône en vert */
}