<div class="flex flex-col flex-auto w-200 min-w-80 p-2 md:p-4">
    <!-- Header -->
    <div class="flex items-center justify-between">
        <div class="text-2xl font-semibold">Add a  new project </div>
        <button matDialogClose mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

   
  <form  class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="composeForm"   >

            <!-- Name field -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Project Name</mat-label>
                <input
                matInput
                [formControlName]="'projectname'">
            </mat-form-field>

            <!-- Email field -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Code</mat-label>
                <input
                matInput [formControlName]="'code'">
            </mat-form-field>

            <!-- Password field -->
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Technologies</mat-label>
                <input
                matInput [formControlName]="'technologies'"  >
            </mat-form-field>

           

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Speciality</mat-label>
                <input
                matInput [formControlName]="'speciality'">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>description</mat-label>
                <input
                matInput [formControlName]="'description'">
            </mat-form-field>
             <!-- Gender field -->
             

        <!-- Expiry Date field -->
          <mat-form-field appearance="outline" class="w-full">
        <mat-label>Expiry Date</mat-label>
           <input
          matInput [formControlName]="'exp_date'" [matDatepicker]="exp_date" formControlName="exp_date">
        <mat-datepicker-toggle matSuffix [for]="exp_date"></mat-datepicker-toggle>
        <mat-datepicker #exp_date></mat-datepicker>
        </mat-form-field>


<div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
       <div class="flex items-center mt-4 sm:mt-0">
        <!-- Discard -->
           <button
              class="ml-auto mt-3  ml-10   mr-5  sm:ml-0"
               mat-flat-button
                [color]="'warn'"
              (click)="onCancel()">
              Discard
             </button>
        <!-- Send -->
          <!-- Submit button -->
          <button class="ml-auto  mt-3  ml-5   mr-5 sm:ml-0"
          mat-flat-button
              [color]="'primary'"
          (click)="send()">
              <span>Add New Project</span>
          </button>

    </div>
    </div>

        </form>
    
</div>
