<div class="flex flex-col flex-auto w-200 min-w-80 p-2 md:p-4">
    <!-- View mode -->
    <ng-container>
        <!-- Header -->
        <div class="flex items-center justify-between">
            <!-- Image -->
            <img src="https://icon-library.com/images/generic-profile-icon/generic-profile-icon-12.jpg" alt="Mission Image" class="w-32 h-auto mr-4">
            
            <!-- Prénom et Nom -->
            <div class="flex items-center">
                <div class="text-lg font-medium whitespace-nowrap text-xl " > <span class="text-blue-600/100">Candidate full name : </span>  &nbsp;  {{data.candidat.firstname}}</div>
                <div class="mx-2"></div> <!-- Espace au milieu -->
                <div class="text-lg font-medium whitespace-nowrap text-xl " >{{data.candidat.lastname}}</div>

            </div>
 

            <button
            class="ml-4"
             matDialogClose
             mat-icon-button 
             [color]="'warn'">
             <mat-icon [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
         </button>
        </div>
      
        <!-- Contact -->
        <div class="flex items-center justify-between">
            <div class="w-full max-w-3xl">
                <!-- Contenu restant -->
                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Company -->
                    <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
                        <div class="ml-6 leading-6"> <span class="text-blue-600/100"> University: </span> &nbsp; {{data.candidat.university}}</div>
                    </div>
                    <!-- University -->
                    <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:envelope'"></mat-icon>
                        <div class="ml-6 leading-6"><span   class="text-blue-600/100" >Email: </span>  &nbsp; {{data.candidat.email}}</div>
                    </div>

                    
                    <!-- Email -->
                    <div class="flex">
                        <mat-icon [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <div class="min-w-0 ml-6 space-y-1">
                            <div class="flex items-center leading-6">
                                <a class="hover:underline text-primary-500" target="_blank"><span class="text-blue-600/100" >education level  : </span>&nbsp; {{data.candidat.educationlevel}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- Education Level -->
                    <div class="flex sm:items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
                        <span class="leading-none"><span class="text-blue-600/100">  &nbsp; &nbsp;Adress :</span> &nbsp;{{data.candidat.adress}}</span>
                    </div>
                </div>       
<div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
    <div class="flex items-center mt-4 sm:mt-0">
     <!-- Discard -->
        <button
           class="ml-auto mt-3  ml-10   mr-5  sm:ml-0"
            mat-flat-button
             [color]="'warn'"
           (click)="deleteRequest(data.candidat.id)">
           Delete
          </button>


          <button
          class="ml-auto mt-3  ml-10   mr-5  sm:ml-0"
           mat-flat-button
            [color]="'primary'"
          (click)="onCancel()">
          Cancel
         </button>
     <!-- Send -->
       <!-- Submit button -->
       <button class="ml-auto  mt-3  ml-5   mr-5 sm:ml-0"
       mat-flat-button
           [color]="'primary'"
           (click)="send()"
           [disabled]="isAccepted"
       >
           <span>Accept as Intern</span>

       </button>
       

       <div *ngIf="isAccepted" class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
        <span class="font-medium">Success alert!</span> Congratulations! You have been accepted as an intern.
    </div>

 </div>
 </div>
            </div>
        </div>
    </ng-container>
</div>
